<h1>Libraries</h1>

<nav class="lib-nav">
    <ul>
        <li>{{#link-to 'libraries.index'}} List{{/link-to}}</li>
        <li>{{#link-to 'libraries.new'}} Add new{{/link-to}}</li>
    </ul>
</nav>

{{outlet}}