<p>
    <label for="newname">Name :</label>
    {{input type="text" id="name" value=item.name placeholder="Name of the Library"}}
</p>
<p>
    <label for="address">Address :</label>
    {{input type="text" id="address" value=item.address placeholder="The address of the Library"}}
</p>
<p>
    <label for="phone">Phone :</label>
    {{input type="text" id="phone" value=item.phone placeholder="The phone number of the Library"}}
</p>
<p>
    {{input type="submit" value=buttonLabel disabled=item.isDisabled}}
</p>