{{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}

<h2>List</h2>

<section>
    {{#if errorMessage}}
        <div class="alert alert-danger">{{errorMessage}}</div>
    {{/if}}
    {{#each model as |book|}}
    {{!--call the component library-item and pass the library locale var as "item" parameter--}}
        {{#book-item item=book}}
        {{!--the links appear in place of the "yield" tag inside the component--}}
            {{!--{{#link-to 'books.edit' book.id class="edit" tagName="button"}} Edit{{/link-to}}--}}
            <button {{action 'deleteBook' book}} class="delete">Delete</button>
        {{/book-item}}
    {{/each}}
</section>