{{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
{{/if}}
{{!--use the var defined in the setupController of the route--}}
<h2>{{title}}</h2>

<form {{action 'saveBook' model.book on="submit"}} class="lib-form">
    {{book-item-form item=model.book authors=model.authors buttonLabel=buttonLabel}}
</form>

<h3>Book's Preview:</h3>
{{#book-item item=model.book}}
    Buttons list
{{/book-item}}